<!DOCTYPE html>
<html>
  <head>
    <title>PlayWithRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |key, message| %>
    <div class="text-center alert alert-<%= key == 'success'? 'success': 'danger' %>">
      <%= message %>
      </div>
      <% end %>
    <%= yield %>
  </body>
</html>
